section.content {
	text-align: center;
}

section.content > :first-child {
	margin-top: 35px;
}
section.content > * {
	margin-bottom: 25px;
}

ol.countdown {
	font-weight: bold;
	justify-content: center;
}
ol.countdown li {
	margin: 0 5px;
}
