header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* encapsulate any child margins */
  overflow: auto;
  background-color: #fff;
}

.viewport {
  max-width: 1500px;
  margin: 0 auto;
}

footer {
  height: 100px;
}

/**
 * application nav
 */

nav {
  margin: 15px 0;
  text-align: center;
}

nav ol {
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 12px;
}
nav ol li {
  text-transform: uppercase;
}
nav ol li a {
  display: block;
}

nav.inline {
  text-align: start;
}

nav.inline ol {
  display: flex;
}
nav.inline ol > li {
  display: inline-block;
  margin: 0 15px;
}

nav.inline ol li a {
  display: inline-block;
}

nav li a {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
}
nav li:hover a {
  text-decoration: underline;
}
