header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* encapsulate any child margins */
  overflow: auto;
  background-color: #fff;
}

.viewport {
  max-width: 1500px;
  margin: 0 auto;
}

footer {
  height: 50px;
}

/**
 * application nav
 */

nav {
  text-align: center;
}

nav > * {
  margin: 15px 0;
}

nav .menu-button {
  position: relative;
}
nav .menu-button .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

nav ol {
  list-style: none;
  padding: 0;

  font-size: 12px;
}
nav ol li {
  text-transform: uppercase;
}
nav ol li a {
  display: block;
}

nav li a {
  text-decoration: none;
  color: black;
  padding: 5px 5px;
}
nav li:hover a {
  text-decoration: underline;
}

@value md-screen from "./variables.module.css";
@media screen and md-screen {
  nav.inline-md > ol {
    text-align: center;
    white-space: nowrap;
  }
  nav.inline-md > ol > li {
    display: inline-block;
    margin: 0 15px;
  }
  nav.inline-md > ol li a {
    display: inline-block;
  }
}
