/**
 * image container
 * naming convention: http://getbem.com/naming
 */

.img-container {
	position: relative;
	overflow: hidden;
}

.img-container > .img-container__img {
	height: auto;
	width: auto;
}

/**
 * image scaling modes
 */

.img-container > .img-container__img--fill-height {
	height: 100%;
	width: auto;
}

.img-container > .img-container__img--fill-width {
	height: auto;
	width: 100%;
}

/**
 * image vertical + horizontal alignment
 * note: `right` needs to come after `top/bottom` so it can override `left: 0`
 */

.img-container > .img-container__img--top {
	position: absolute;
	top: 0;
	bottom: auto;
	/* `left: 0` is to counter-act any `text-align: right` set on parent container */
	left: 0;
}

.img-container > .img-container__img--bottom {
	position: absolute;
	top: auto;
	bottom: 0;
	/* `left: 0` is to counter-act any `text-align: right` set on parent container */
	left: 0;
}

.img-container > .img-container__img--left {
	position: absolute;
	left: 0;
	right: auto;
}

.img-container > .img-container__img--right {
	position: absolute;
	left: auto;
	right: 0;
}

.img-container > .img-container__img--horizontal-center {
	position: absolute;
	left: 50%;
	right: auto;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.img-container > .img-container__img--vertical-center {
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.img-container
	> .img-container__img--horizontal-center.img-container__img--vertical-center {
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
